---
const personalImageAlt = "Ángel Porlán"
import Badge from "@/components/Badge.astro"
import LinkedInIcon from "@/components/icons/LinkedIn.astro"
import MailIcon from "@/components/icons/Mail.astro"
import SocialPill from "@/components/SocialPill.astro"
import CV from "./icons/CV.astro"
---

<div class="max-w-xl">
  <div class="flex gap-4 mb-4 ">
    <img
      class="rounded-full shadow-lg size-16"
      style="width: 100px; height: 100px; object-fit: cover;"
      src="/fondoazul.png"
      alt={personalImageAlt}
    />
    <a
      href="https://linkedin.com/in/midudev"
      target="_blank"
      rel="noopener"
      class="flex items-center transition md:justify-center md:hover:scale-105"
    >
      <Badge>Disponible para trabajar</Badge>
    </a>
  </div>
  <h1
    class="text-4xl font-bold tracking-tight text-gray-800 sm:text-5xl dark:text-white"
  >
    Buenas, soy Ángel
  </h1>
  <p
    class="mt-6 text-xl text-gray-800 dark:[&>strong]:text-yellow-200 [&>strong]:text-yellow-500 [&>strong]:font-semibold dark:text-gray-300"
  >
    <strong
      >Desarrollador de Aplicaciones Web. </strong
    > Abarcando tanto el frontend como el backend.
  </p>
  <p
  class="mt-6 text-xl text-gray-800 dark:[&>strong]:text-yellow-200 [&>strong]:text-yellow-500 [&>strong]:font-semibold dark:text-gray-300"
  >
    Mis lenguajes preferidos para trabajar incluyen 
    <strong>Angular, Vue, Symfony y Node</strong>. Actualmente resido 
    en Lorca, Murcia, España 🇪🇸, pero estoy abierto 
    a reubicarme si surge una oportunidad interesante.
  </p>
  <nav class="flex flex-wrap gap-4 mt-8">
    <SocialPill href="mailto:angelporlandev@gmail.com">
      <MailIcon class="size-4" />
      Contáctame
    </SocialPill>
    <SocialPill href="https://linkedin.com/in/angelporlan">
      <LinkedInIcon class="size-4" />
      LinkedIn
    </SocialPill>
    <SocialPill href="https://media.licdn.com/dms/document/media/D4E2DAQE02LLJ1uEZhg/profile-treasury-document-pdf-analyzed/0/1724015473882?e=1729123200&v=beta&t=5ZJCM0uSOvAmhi52HtIFpQQIR3e7Z67YQUQoDqGb4JU">
      <CV class="size-4" />
      CV
    </SocialPill>
  </nav>
</div>
